body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqFUoOzaBd_QpPk6HpTIOZZYXdqVUQJur72g&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}
/* button{
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    margin-left: 780px;
    margin-top: 130px;
} */